services:
  - type: web
    name: mern-internship-backend
    env: node
    repo: https://github.com/23082004-pixel/mern-internship-assessment.git
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    plan: free
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
